<%= form_with(model: [artist, writing], data: { turbo: true, turbo_frame: "writing_#{writing.id}"  } ) do |form| %>
  <%= render partial: "shared/errors", locals: {instance: writing} %>

  <div class="flex align-center space-x-3">
    <div class="mb-4 flex-auto">
      <%= form.label :date, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4 flex-auto">
      <%= form.label Source.model_name.human, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :source,
        options_for_select(artist.sources.map{[_1.name, _1.id]}, selected: writing.writing_source&.source_id),
        { prompt: t("sources.select_source"), },
        { class: 'bg-sky-700 border border-gray-300 text-gray-100 rounded-xl focus:ring-blue-500 focus:border-gray-500 focus:bg-gray-700 block w-full p-1' } %>
    </div>
  </div>

  <div class="mb-4" data-controller="trix">
    <%= form.rich_text_area :content, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit t("default.save"), class: "bg-sky-700 hover:bg-sky-900 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline", data: {action: "click->modal#close"} %>
  </div>
<% end %>
