<div class="col-lg-8 mt-3 mx-auto">
  <h1><%= @quote.title %></h1>

  <div>Description :
    <p class="text-secondary">
      <%= @quote&.description %>
    </p>
  </div>
  <div>Histoire :
    <p class="text-secondary">
    <%= @quote&.history %>
    </p>
  </div>
  <div><%= category_label(@quote) %></div>
  <div><%= popular_label(@quote) %></div>
  <div><%= with_influence_label(@quote) %></div>

  <div class="my-3 py-3 border-top">
    <h4>Œuvres et Mouvements</h4>
    <% @quote.mouvements.each do |mouvement| %>
      <%= link_to(mouvement.work.title, work_path(mouvement.work)) %>
      -
      <%= mouvement.title %>
    <% end %>
  </div>
</div>
