<h1 class="leading-none tracking-tight md:text-4xl lg:text-5xl mb-4">
  <%= link_to(Source.model_name.human(count: 2), sources_path, class: "hover:underline hover:text-sky-800") %>
</h1>

<% current_user.artists.each do |artist| %>
  <div class="flex justify-between items-center mb-4">
    <h2 class="font-medium text-orange-700">
      <i class="fa-solid fa-circle-chevron-right me-2 text-orange-700"></i>
      <%= link_to(artist.decorate.fullname, artist_path(artist), class: "hover:underline hover:text-sky-800") %>
    </h2>

    <%= render_in_modal(url: new_artist_source_path(artist), policy: policy(Source).new?) do %>
      <%= render CircleIconComponent.new(icon: "fa-solid fa-circle-plus", bg_color: "bg-orange-700") %>
    <% end %>
  </div>
  <% artist.sources.includes([:rich_text_description]).order(:name).each do |source| %>
    <div class="py-2 border-t-2 border-orange-700 grid grid-cols-10 gap-4">
      <div class="col-span-2"><%= link_to(source.name, artist_source_path(artist, source), class: "hover:underline hover:text-sky-800") %></div>
      <div class="col-span-8"><%= source.description %></div>
    </div>
  <% end %>
<% end %>
