<div class="space-x-3 flex">
  <%= link_to(edit_artist_writing_path(artist, writing), data: {controller: :turbo} ) do %>
    <%= render CircleIconComponent.new(icon: "fa-solid fa-edit") %>
  <% end %>

  <%= link_to(new_artist_writing_annotation_path(artist, writing), data: {controller: :turbo} ) do %>
    <%= render CircleIconComponent.new(icon: "fa-solid fa-file-circle-plus") %>
  <% end %>

  <% if writing.annotations.any? %>
    <%= link_to(artist_writing_annotations_path(artist, writing), data: {controller: :turbo} ) do %>
      <%= render CircleIconComponent.new(icon: "fa-solid fa-note-sticky") %>
    <% end %>
  <% end %>
</div>
