<div class="card card-hover">
  <%= link_to(element_path(element), class: "link-dark text-decoration-none me-3") do %>
      <div class="d-flex justify-content-between">
        <h3 class="text-primary"><%= element&.title.html_safe %></h3>
        <%= element.instrumentation&.map{|instrument| t("intrumentation.#{instrument.downcase}").capitalize}&.join(", ") %>
      </div>
      <%= element&.description %>
      <% element.mouvements.each do |mouvement| %>
        <%= link_to("#{mouvement.work.title} : #{mouvement.title}", work_path(mouvement.work), class: "link-secondary text-decoration-none") %>
      <% end %>
  <% end %>
</div>
