<div id="<%= "element_#{dom_id(element)}_container" %>">
  <%= turbo_frame_tag dom_id(element) do %>
    <div class="card card-hover">
      <div class="d-flex justify-content-between align-items-center">
        <h3><%= element&.title %></h3>
        <div>
          <%= element.instrumentation&.map{|instrument| t("intrumentation.#{instrument.downcase}")&.capitalize}&.join(", ") %>
          <%= link_to(icon('fa-solid', 'edit'), edit_element_path(element),
              class: "ms-2") if current_user %>
        </div>
      </div>
      <div id="elements">
        <% element.mouvements.each do |mouvement| %>
          <%= link_to("#{mouvement.work&.title} : #{mouvement.title}", work_path(mouvement.work), class: "link-secondary text-decoration-none") %>
        <% end %>
        <p class="text-secondary">
          <%= element&.description %>
        </p>
        <div>Histoire :
          <p class="text-secondary">
          <%= element&.history %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
