<div class="col-lg-8 mt-3 mx-auto">
  <h1><%= simple_format(@element.title) %></h1>

  <div>Description :
    <p class="text-secondary">
      <%= @element&.description %>
    </p>
  </div>
  <div><%= category_label(@element) %></div>
  <div><%= popular_label(@element) %></div>
  <div><%= with_influence_label(@element) %></div>

  <div class="my-3 py-3 border-top">
    <h4>Œuvres et Mouvements</h4>
    <% @element.mouvements.each do |mouvement| %>
      <%= link_to(mouvement.work.title, work_path(mouvement.work)) %>
      -
      <%= mouvement.number %>. <%= simple_format(mouvement.title) %>
    <% end %>
  </div>
</div>
