<div class="col-lg-8 mt-3 mx-auto">
  <h1>Statistiques</h1>

  <div class="my-3 py-3 border-bottom">
    <h4>Citation de type "musicale" : <%= @quotes_musical.count %></h4>
    <%= render "citation_card", quotes: @quotes_musical %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Citation de type "thème" : <%= @quotes_theme.count %></h4>
    <%= render "citation_card", quotes: @quotes_theme %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Citation de type "motif" : <%= @quotes_motif.count %></h4>
    <%= render "citation_card", quotes: @quotes_motif %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Citation de type "phantomatique" : <%= @quotes_phantomatic.count %></h4>
    <%= render "citation_card", quotes: @quotes_phantomatic %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Citation de type "mention verbale" : <%= @quotes_verbal_mention.count %></h4>
    <%= render "citation_card", quotes: @quotes_verbal_mention %>
  </div>
</div>
