<div class="col-lg-8 mt-3 mx-auto">
  <h1>Statistiques</h1>

  <div class="my-3 py-3 border-bottom">
    <h4>Éléments de type "musicale" : <%= @elements_musical.count %></h4>
    <%= render "citation_card", elements: @elements_musical %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Éléments de type "thème" : <%= @elements_theme.count %></h4>
    <%= render "citation_card", elements: @elements_theme %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Éléments de type "motif" : <%= @elements_motif.count %></h4>
    <%= render "citation_card", elements: @elements_motif %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Éléments de type "phantomatique" : <%= @elements_phantomatic.count %></h4>
    <%= render "citation_card", elements: @elements_phantomatic %>
  </div>

  <div class="my-3 py-3 border-bottom">
    <h4>Éléments de type "mention verbale" : <%= @elements_verbal_mention.count %></h4>
    <%= render "citation_card", elements: @elements_verbal_mention %>
  </div>
</div>
