<h1 class="mb-4 leading-none tracking-tight">
  <%= link_to(statistics_path, class: " hover:text-sky-800") do %>
    <%= t("statistics.statistics") %>
  <% end %>
</h1>

<div class="grid grid-cols-1 divide-y divide-orange-700">
  <div class="py-10 first:pt-0">
    <h2 class="text-center"><%= t("statistics.greif_writings_by_year_chart") %></h2>
    <%= column_chart(greif_writings_by_year_chart_statistics_path, colors: ["#c2410c"], dataset: {borderWidth: 10}) %>
  </div>

  <div class="py-10 first:pb-0">
    <h2 class="text-center"><%= t("statistics.tags_by_name_chart") %></h2>
    <%= pie_chart(tags_by_name_chart_statistics_path, legend: :bottom) %>
  </div>
</div>
