<div>
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @work&.title %></h1>
    <div>
      Opus <%= @work&.opus %>
      <% if current_user %>
        <%= link_to "#form_work_modal",
          data: { bs_toggle: "modal", bs_target: "#form_work_modal"} do %>
          <%= icon('fa-solid', 'edit', class: "small") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= @work.instrumentation&.map{|instrument| t("intrumentation.#{instrument.downcase}").capitalize}&.join(", ") %>
  <p class="pb-3 text-secondary border-bottom border-secondary">
    <%= @work.description %>
  </p>
</div>
<%= render "works/form_work_modal", work: @work %>
