<%= form_with(model: user, data: {turbo: true}) do |form| %>
  <%= render partial: "shared/errors", locals: {instance: user} %>
  <div class="flex items-center space-x-3">
    <div class="mb-4 flex-auto">
      <%= form.label :firstname, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :firstname, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4 flex-auto">
      <%= form.label :lastname, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :lastname, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  <div class="flex items-center justify-between">
    <%= form.submit t("default.save"), class: "bg-sky-700 hover:bg-sky-900 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline", data: {action: "click->modal#close"} %>
  </div>
<% end %>
