<div class="border-b-2 border-orange-700">
  <div class="flex justify-center">
    <div class="relative w-fit h-fit mb-4">
      <i class="fa-solid fa-circle-user text-6xl text-orange-800 md:text-8xl"></i>
      <div class="absolute bottom-0 right-0">
        <%= render_in_modal(url: edit_user_path(@user), policy: policy(@user).edit?) do %>
          <%= render CircleIconComponent.new(icon: "fa-solid fa-edit") %>
        <% end %>
      </div>
    </div>
  </div>
  <h1 class="text-center"><%= @user.name_or_email %></h1>
</div>
<div class="mt-3 space-y-4">
  <div>
    <i class="fa-solid fa-circle-info mr-2 text-orange-700"></i>
    <%= @user.email %>
  </div>
  <div>
    <i class="fa-solid fa-circle-info mr-2 text-orange-700"></i>
    <%= @user.role %>
  </div>
  <div>
    <i class="fa-solid fa-circle-info mr-2 text-orange-700"></i>
    <%= t("users.my_artists") %>
    <ul class="list-disc ms-14">
      <% @user.artists.each do |artist| %>
        <li><%= link_to(artist.decorate.fullname, artist_path(artist)) %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <i class="fa-solid fa-circle-chevron-right mr-2 text-orange-700"></i>
    <%= link_to(t("authentication.edit_password"), edit_authentication_password_path(@user)) %>
  </div>
</div>
