<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to(root_path, class: "text-decoration-none d-flex flex-column") do %>
      <span class="h4 m-0 fw-bold">CODEX</span>
      <small class="text-secondary">Base de données d’éléments de langage</small>
    <% end %>
    <%#= image_tag "og_signature.png", height: 40 %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown"><%=  %>
          <a class="nav-link dropdown-toggle <%= "active" if controller_name == "works" %>" href="#" id="composersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Œuvres
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="composersDropdown">
            <li><%= link_to("Toutes les œuvres", works_path, class: "dropdown-item") %></li>
            <li><hr class="dropdown-divider"></li>
            <% Work.all.order(:opus).each do |work| %>
              <li><%= link_to(work&.title.html_safe, work_path(work), class: "dropdown-item mb-0") %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to("Statistiques", metrics_path, class: "nav-link #{'active' if controller_name == "metrics"}") %>
        </li>
        <li class="nav-item">
          <%= link_to("Concerts", concerts_path, class: "nav-link #{'active' if controller_name == "concerts"}") %>
        </li>
      </ul>
      <div class="btn btn-outline-primary rounded-circle" id="search_btn">
        <i class="fa fa-search"></i>
      </div>
      <%= form_tag(search_path, method: :get, class: 'form-inline', id: "search-form") do %>
        <div class="form-group me-3">
          <div class="input-group">
            <%= text_field_tag :q,
                params[:q],
                placeholder: "Rechercher",
                class: 'form-control d-none',
                id: "search_bar" %>
            <%= button_tag(type: 'submit', id: "submit_btn", class: 'input-group-text btn btn-outline-primary d-none') do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
<script>
  document.addEventListener("turbo:load", function() {
    const searchBtn = document.getElementById("search_btn")
    const submitBtn = document.getElementById("submit_btn")
    const searchBar = document.getElementById("search_bar")
    searchBtn.addEventListener("click", function() {
      submitBtn.classList.remove("d-none");
      searchBar.classList.remove("d-none");
      searchBtn.classList.add("d-none");
    });
  });
</script>
