<main id="main" data-sidebar-target="main" class="flex-1 mb-4 pt-3 overflow-y-auto relative" role="main">
  <header class="fixed top-0 bg-sky-950 shadow-md z-10 w-full px-3 py-2 border-t-4 border-orange-700">
    <div class="flex justify-between items-center <%= centered_layout_classes %>">
      <div class="flex justify-start">
        <button class="focus:outline-none md:hidden z-50 mr-2" id="menuButton" aria-label="Open menu" data-action="click->sidebar#toggleSidebar">
          <svg id="hamburgerIcon" data-sidebar-target="hamburgerIcon" class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
        <%= link_to(image_tag("codex.png", size: 100), root_path) %>
      </div>
      <div class="hidden md:block">
        <ul class="space-x-2 flex">
          <% NavbarPresenter.new(user: current_user, controller_name:).items.each do |item| %>
            <li>
              <%= link_to(item[0], role: "menuitem", class: "flex items-center px-2 py-1 transition duration-500 text-white hover:bg-orange-700 #{item[2]}") do %>
                <span><%= item[1] %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="hidden md:block">
        <!-- <i class="fas fa-user"></i> -->
      </div>
    </div>
  </header>
  <div class="bg-white">
    <div class="mt-12">
      <%= turbo_frame_tag "alerts" do %>
        <%= render partial: "shared/alerts/alerts" %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</main>
