<nav id="sidebar" role="navigation" aria-label="Main navigation"
  class="transform transition-transform duration-300 ease-in-out md:block w-72 bg-indigo-950 p-4 overflow-y-auto fixed h-full z-40 text-white space-y-2 -translate-x-full md:translate-x-0">
  <div class="flex items-center">
    <h1 class="text-xl font-bold md:ml-0 flex-grow md:hidden"><%= Artist.model_name.human(count: 2) %></h1>
    <button id="crossIcon" class="w-6 h-6 hidden cursor-pointer" aria-label="Close menu">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <div class="relative">
    <%= form_with(url: "#", method: :get, local: true, class: "search-form") do %>
      <%= text_field_tag :search, nil,
        class: "pl-4 pr-10 py-2 w-full bg-indigo-700 border border-gray-600 rounded-xl focus:outline-none focus:border-gray-500 focus:bg-gray-700",
        placeholder: "Rechercher...",
        "aria-label": "Rechercher" %>
      <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400">
        <i class="fas fa-search" aria-hidden="true"></i>
      </div>
    <% end %>
  </div>
  <ul class="space-y-2">
    <li>
      <%= link_to(artists_path, role: 'menuitem', class: "flex items-center pl-4 p-2 transition duration-500 text-white rounded-xl bg-indigo-700 hover:bg-white hover:text-gray-900 group") do %>
        <span><%= Artist.model_name.human(count: 2) %></span>
      <% end %>
    </li>
    <li>
      <%= link_to(artist_path(Artist.where('LOWER(lastname) = ?', "greif").first), role: 'menuitem', class: "flex items-center pl-4 p-2 transition duration-500 text-white rounded-xl bg-indigo-700 hover:bg-white hover:text-gray-900 group") do %>
        <span>Olivier Greif</span>
      <% end %>
    </li>
  </ul>

  <!-- Drop-up Menu -->
  <div class="absolute bottom-0 py-2">
    <button class="flex items-center justify-center bg-indigo-700 text-white rounded-full hover:bg-indigo-600 p-4"
      id="userMenuButton" aria-haspopup="true" aria-controls="userMenu">
      <i class="fas fa-user"></i>
    </button>
    <div class="absolute bottom-10 left-10 w-48 bg-white rounded-xl shadow-lg hidden" id="userMenu" role="menu">
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200"
        role="menuitem">Profile</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200"
        role="menuitem">Settings</a>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 rounded-xl hover:bg-gray-200"
        role="menuitem">Logout</a>
    </div>
  </div>
</nav>
