<div id="<%= mouvement.id %>">
  <div class="mb-3 rounded-4 border border-primary">
    <div class="p-3">
      <div class="d-flex justify-content-between align-items-center">
        <%= simple_format( "#{mouvement.number}. #{mouvement.title}", class: "h3 text-primary") %>
        <div class="d-flex">
          <%= mouvement.start_date&.strftime('%d.%m.%Y') %>
          <% if current_user %>
            <%= link_to "#form_mouvement_#{mouvement.id}_modal",
              data: { bs_toggle: "modal", bs_target: "#form_mouvement_#{mouvement.id}_modal"} do %>
              <%= icon('fa-solid', 'edit', class: "mx-2 small") %>
            <% end %>
          <% end %>
          <% if current_user %>
            <%= link_to("#deleteMouvement_#{mouvement.id}_Modal",
                    data: { bs_toggle: "modal", bs_target: "#deleteMouvement_#{mouvement.id}_Modal"}) do %>
                    <%= icon('fa-solid', 'trash-alt', class: "small text-secondary") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>Dédicace : <%= mouvement.dedication %></div>
    </div>

    <%= render "elements/form_element_modal", element: @element, object: mouvement %>
    <%= render "mouvements/select_element_modal", mouvement: mouvement %>
    <%= render "mouvements/element", mouvement: mouvement %>
  </div>
</div>
<%= render "mouvements/form_mouvement_modal", mouvement: mouvement %>
<%= render "mouvements/delete_mouvement_modal", mouvement: mouvement %>
