<% if mouvement.quotes.any? %>
  <a class="btn btn-sm mt-3 collapse_themes" data-bs-toggle="collapse" href="#collapseThemes_<%= mouvement.id %>" role="button" aria-expanded="false" aria-controls="collapseThemes_<%= mouvement.id %>">
    <i class="fa-solid fa-eye"></i> Voir les citations
  </a>

  <div class="quotes">
    <% mouvement.quotes.each_with_index do |quote, index| %>
      <div class="collapse" id="collapseThemes_<%= mouvement.id %>">
        <div class="py-3 border rounded-4 mb-2 p-2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div><%= quote&.title %></div>
            <div>
              <%= quote.instrumentation&.map{|instrument| t("intrumentation.#{instrument.downcase}").capitalize}&.join(", ") %>
              <%= link_to quote_path(quote), class: "text-decoration-none" do %>
                <%= icon('fa-solid', 'eye', class: "small mx-2 text-decoration-none") %>
              <% end %>
              <% if policy(Quote).edit? %>
                <%= link_to "#form_quote_#{mouvement.id}_#{quote.id}_modal",
                  data: { bs_toggle: "modal", bs_target: "#form_quote_#{mouvement.id}_#{quote.id}_modal"},
                  class: "text-decoration-none" do %>
                  <%= icon('fa-solid', 'edit', class: "small me-2") %>
                <% end %>
                <%= render "quotes/form_quote_modal", quote: quote, mouvement: mouvement %>
              <% end %>
              <% if policy(Quote).destroy? %>
                <%= link_to("#deleteQuote_#{mouvement.id}_#{quote.id}_Modal",
                        data: { bs_toggle: "modal", bs_target: "#deleteQuote_#{mouvement.id}_#{quote.id}_Modal"}) do %>
                        <%= icon('fa-solid', 'trash-alt', class: "small text-secondary") %>
                <% end %>
                <%= render "quotes/delete_quote_modal", quote: quote, mouvement: mouvement %>
              <% end %>
            </div>
          </div>
          <p class="text-secondary">
            <%= quote&.description %>
          </p>
          <div>Histoire :
            <p class="text-secondary">
            <%= quote&.history %>
            </p>
          </div>
          <div><%= category_label(quote) %></div>
          <div><%= popular_label(quote) %></div>
          <div><%= with_influence_label(quote) %></div>
        </div>
        <% if policy(Quote).new? && mouvement.quotes.count == index + 1  %>
          <div class="text-center">
            <%= render "quotes/create_quote_btn", mouvement: mouvement %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <% if policy(Quote).new? %>
    <%= render "quotes/create_quote_btn", mouvement: mouvement %>
  <% end %>
<% end %>
